.headcontainer {
  background-color: black;
}

.container {
  margin-bottom: 100px;
}

p {
  text-align: center;
}

body {
  color: gray;
}

.heroimg {
  position: relative;
  width: 80%;
}

.herotag {
  width: 80%;
  position: absolute;
  color: white;
  text-shadow: 1px 2px 10px white;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 3em;
}

.cardheight {
  min-height: 100%;
}
